.main {
  margin: 40px auto 0;
  display: flex;
  background-color: #2f2e33;
  min-width: 50vw;
  width: 80vw;
  height: 70vh;
}

.personagem-info {
  padding: 10px 20px;
  display: flex;
  flex: 1;
  /* width: 100%; */
  /* background-color: white; */
}
