.main {
  margin: 40px auto 0;
  display: flex;
  background-color: blue;
  width: fit-content;
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.personagem-info {
  padding: 10px 20px 0;
  display: flex;
  /* flex: 1; */
  max-width: 55vw;
  overflow: hidden;
  /* background-color: white; */
}
