.Breach {
  background-color: #324137;
}
.Clay {
  background-color: #fc6e2e;
}
.Deadeye {
  background-color: #ce3e7a;
}
.Grenadier {
  background-color: #a5efff;
}
.Guide {
  background-color: #5a916e;
}
.Gumshoe {
  background-color: #b7b6b5;
}
.Hunter {
  background-color: #10255c;
}
.Killjoy {
  background-color: #f9dc30;
}
.Pandemic {
  background-color: #2aad45;
}
.Phoenix {
  background-color: #fc8540;
}
.Rift {
  background-color: #872ca7;
}
.Sarge {
  background-color: #a5b6ce;
}
.Sprinter {
  background-color: #679aff;
}
.Stealth {
  background-color: #38417c;
}
.Thorne {
  background-color: #3ddec1;
}
.Vampire {
  background-color: #8c37f0;
}
.Wraith {
  background-color: #403756;
}
.Wushu {
  background-color: #76a9b1;
}
