.list-personagens {
  width: 13vw;
  min-width: 140px;
  overflow: auto;
  direction: rtl;
  text-align: left;
  background-color: #37363d;
}
.list-personagens::-webkit-scrollbar {
  width: 5px;
}

.list-personagens::-webkit-scrollbar-track {
  background: #37363d;
}

.list-personagens::-webkit-scrollbar-thumb {
  background-color: #ff4655;
  border-radius: 20px;
}
