.personagem {
  /* height: 20%;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* filter: grayscale(1); */
  height: 64px;
  transform: scaleY(0.95);
  cursor: pointer;
}

.personagem::-ms-check {
  opacity: 1;
}

.toggleON {
  filter: grayscale(0);
}

.toggleOFF {
  filter: grayscale(1);
}
