* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal__container {
  display: flex;
  background-color: aqua;
  width: 60vw;
  height: 51.7vh;
  margin: 0 auto;
  padding: 30px;
}
.conatainer__info-abilits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: blue;
  width: 30%;
}

.info-abilits__name-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1vw;
  background-color: hotpink;
}

.info-abilits__name-type--img {
  width: 5vw;
}

.info-abilits__name-type--img img {
  width: 100%;
}

.info-abilits__img-abilits {
  display: flex;
  background-color: teal;
  margin-top: 10px;
  justify-content: space-evenly;
}

.info-abilits__img-abilits--img1,
.info-abilits__img-abilits--img2,
.info-abilits__img-abilits--img3,
.info-abilits__img-abilits--img4 {
  width: 5vw;
}

.info-abilits__img-abilits--img1 img,
.info-abilits__img-abilits--img2 img,
.info-abilits__img-abilits--img3 img,
.info-abilits__img-abilits--img4 img {
  width: 100%;
}

.info-abilits__describe-abilits--paragraph {
  background-color: red;
}

.video {
  width: 100%;
}

.container__video {
  flex: 1;
  background-color: black;
}
