@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap');

.personagem-container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  gap: 40px;
  /* background-color: red; */
  /* overflow: hidden; */
}

.personagem-background {
  transform: scale(1.4);
  filter: brightness(0);
  position: relative;
  right: 20%;
}

.personagem-IMG {
  /* transform: translateX(-150px); */
  width: 95%;
  position: absolute;
  left: 15%;
  bottom: 0;
}

.IMGs {
  position: relative;
  display: flex;
  width: 100%;
}

.info-dos-personagens {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-shadow: 0 0 5px black;
}

.info-dos-personagens h1 {
  font-size: 60px;
}

.skils-do-personagem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.animacao {
  animation: anime 2s;
}

.animacaoBackground {
  animation: animeBackgroud 2s;
}

.icon-skils {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .3s;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

@keyframes anime {
  from {
    /* opacity: 0; */
    filter: brightness(0);
    transform: translateX(-25px);
  }
  to {
    filter: brightness(1);
    transform: translateX(0);
  }
}

@keyframes animeBackgroud {
  from {
    opacity: 0;
    filter: blur(10px) brightness(0);
    transform: scale(1.4);
  }
  to {
    opacity: 1;
    filter: blur(0) brightness(0);
    transform: translateX(0) scale(1.4);
  }
}

.selected {
  /* transform: translateY(-5px); */
  /* filter: brightness(0); */
  transform: scale(1.2);
  border-radius: 5px;
  opacity: 1;
  background-color: black;
}

.descriptionSkill {
  animation: annimeDescriptionSkill .3s ease-in;
  transform: translateY(0);
  opacity: 1;
}

@keyframes annimeDescriptionSkill {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
