.personagem-container {
  display: flex;
  overflow: hidden;
}

.personagem-background {
 transform: scale(1.4);
}

.personagem-IMG {
  transform: translateX(-150px);
}

.info-dos-personagens {
  padding: 20px;
  transform: translateX(-150px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skils-do-personagem {
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 20px;
  justify-content: space-between;
}

.animacao {
  animation: anime 2s;
}

@keyframes anime {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}
