.personagem-container {
  display: flex;
  width: 100%;
  gap: 40px;
  /* background-color: red; */
  /* overflow: hidden; */
}

.personagem-background {
 transform: scale(1.4);
 filter: brightness(0);
}

.personagem-IMG {
  /* transform: translateX(-150px); */
  width: 95%;
  position: absolute;
  left: 35%;
  bottom: 0;
}

.IMGs {
  position: relative;
  display: flex;
  width: 100%;
}

.info-dos-personagens {
  color: white;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

.skils-do-personagem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.animacao {
  animation: anime 1s
}

.icon-skils {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@keyframes anime {
  from {
    filter: brightness(0);
    transform: translateX(-20px);
  }

  to {
    filter: brightness(1);
    transform: translateX(0);

  }
}
